/* reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */
/* body{
    background-color: #070708 ;
    color: whitesmoke;
}

/* estilos de main */
/* main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
}

main h1{
    font-size: 2.5rem;
}

main p{
    font-size: 1.3rem;
}

main .contenedor-boton .boton, main .contenedor-boton .boton-dos{
    border-radius: 100px;
    padding: 0.8rem 3rem;
    font-weight: bold;
}

main .contenedor-boton .boton{
    background-color: #008870;
}

main .contenedor-boton .boton-dos{
    margin-top: 1.2rem;
    border: 2px solid whitesmoke;
} */ */

/* estilo section */
/* section{
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

section .div-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

section .card-section{
    background-color: #1F1F23;
    border: 0.03rem solid #37373A;
    padding: 1rem;
    border-radius: 20px;
}

section .card-section h2{
    font-weight: bold;
}

section .card-section img{
    width: 20%;
    margin-bottom: 1rem;
} */

/* estilos section dos */

/* .section-dos img{
    border-radius: 20px;
} */

/* mq tablet */
/* @media screen and (min-width: 768px){
    main .contenedor-boton{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    main .contenedor-boton .boton-dos{
        margin-top: 0px;
    }

    .section-uno{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "area-uno area-uno"
            "area-dos area-tres"
            "area-cuatro area-cinco";
    }

    .section-uno .area-uno{
        grid-area: area-uno;
    }

    .section-uno .area-dos{
        grid-area: area-dos;
    }

    .section-uno .area-tres{
        grid-area: area-tres;
    }

    .section-uno .area-cuatro{
        grid-area: area-cuatro;
    }

    .section-uno .area-cinco{
        grid-area: area-cinco;
    }

} */

/* mq desktop */
/* @media screen and (min-width: 1280px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 5rem;
    }

    .logo{
        height: 100px;
    }

    header nav ul{
        color: white;
        list-style: none;
        display: flex;
        gap: 1.5rem;
        font-weight: 700;
    }

    .img{
        display: inline-block;
        gap: 1rem;
        width: 24px;
    }

    main h1{
        font-weight: 800;
    }

    .section-uno{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 3rem;
    }

    .section-uno .area-uno{
        width: 100%;
        padding: 1rem 6rem;
    } 

}
     */ */
